.chat-button {
    margin-top: 8px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 12px 8px 12px 41px;
}

.chat-button.active {
    background: rgba(255, 255, 255, 0.3);
}

.chat-button:hover, .chat-button:active {
    background: rgba(255, 255, 255, 0.2);
}

.title-input:read-only {
    border: none;
}

.title-input {
    background: transparent;
    border: 1px solid blue;
    outline: none;
    width: 150px;
}

.actions {
    display: flex;
    margin-left: 5px;
    width: 37px;
}

.edit-button, .delete-button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    opacity: 0.8;
}

.edit-button {
    margin-right: 5px;
}

.delete-button:hover, .delete-button:active, .edit-button:hover, .edit-button:active {
    opacity: 1;
}