.message {
    width: 51%;
    padding: 16px;
    margin-bottom: 10px;
    background: white;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    cursor: context-menu;
}

.user-message {
    background: #cfe3ff;
    align-self: flex-end;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0;
}